---
import { getLatestPost } from "@/lib/posts";
const post = await getLatestPost();
const { id, data } = post;
---

<span>
  <span>My latest post is </span>
  <a class="big-link" data-astro-prefetch href={`/blog/${id}`}>{data?.title}</a>
  and while you're here, you can check some <a class="big-link" href="/art">
    visuals I made
  </a>.
</span>
