---
import { Eye } from "@lucide/astro";
import FetchViews from "./FetchViews.svelte";

interface Props {
  id: string;
}

const { id } = Astro.props;
---

<span class="flex gap-half">
  <Eye size={12} />
  <FetchViews client:only="svelte" id={id} />
</span>
