---
import Layout from "./Layout.astro";
import Header from "@/components/Header.astro";

export interface Props {
  title?: string;
  description?: string;
  frontmatter?: {
    title: string;
    description?: string;
  };
}
const { frontmatter, title, description } = Astro.props;
const pageTitle = title ?? frontmatter?.title ?? "";
const pageDescription = description ?? frontmatter?.description;
---

<Layout title={pageTitle} description={pageDescription}>
  <Header />
  <main class="wrap">
    <div class="content single">
      <slot />
    </div>
  </main>
</Layout>
